{% extends "layout.html" %}
{% block content %}
    <section id="about">
        <div class="row">
            <div class="col-12 col-sm-8 offset-sm-2 col-md-12 offset-md-0">
                <h1>About me</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-0">
                <p>
                    Etiam malesuada, dui non imperdiet feugiat, erat mauris dapibus magna, ac sagittis mi purus id leo.
                    Donec vehicula mauris ante, ultrices mattis risus porta eget. Nulla dapibus tempus velit, vel
                    ultricies nunc molestie et. Sed nec dapibus nibh, et sodales neque. Aenean ac libero efficitur,
                    sagittis eros vel, efficitur lacus. Nulla condimentum imperdiet fermentum. Pellentesque vulputate
                    ligula ac posuere luctus. Duis nec lectus metus.
                </p>
            </div>

            <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-0">
                <p>
                    Aenean maximus est sit amet nunc ullamcorper, vitae varius leo auctor. Integer pulvinar tellus
                    metus, ut placerat mi egestas non. Sed suscipit, odio ac aliquam ornare, lacus justo scelerisque mi,
                    ac posuere dui lacus in massa. Aliquam erat volutpat. Nulla euismod quam eu sapien rhoncus accumsan.
                    Ut scelerisque libero sapien, nec tincidunt metus feugiat nec. Integer vel facilisis mauris,
                    accumsan rhoncus felis. Morbi ultrices leo sapien, non consectetur turpis sodales tristique.
                </p>
            </div>
        </div>
    </section>
{% endblock %}
