{% extends "layout.html" %}

{% block title %}{{ item.name }} ({{ category.name }}){% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h2>{{ item.name }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>Category</h3>

            <a href="/{{ category.name }}">{{ category.name }}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>Description</h3>

            <p>{{ item.description }}</p>
        </div>
    </div>
    {% if authored %}
        <div class="row">
            <div class="col-12">
                <p>
                    <a href="/{{ category.name }}/{{ item.name }}/edit">Edit</a>
                    |
                    <a href="/{{ category.name }}/{{ item.name }}/delete">Delete</a>
                </p>
            </div>
        </div>
    {% endif %}
{% endblock %}
