<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Style.css') }}">
    {% block script %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="container">
    {% block header %}
        <header>
            <div class="row">
                <div class="col-md-6 text-left">
                    <h1><a href="/">Catalog App</a></h1>
                </div>
                <div class="col-md-6 text-right">
                    <ul>
                        {% if current_user.is_active %}
                            <li><span>{{ current_user.username }}</span>
                            <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
                        {% else %}
                            <li><a href="{{ url_for('auth.register') }}">Register</a>
                            <li><a href="{{ url_for('auth.login') }}">Log In</a>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </header>
    {% endblock %}

    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}

    {% block content %}
    {% endblock %}
</div>
</body>
</html>
